.user_setting_page {
  padding: $basicsContentMargin;
  min-width: 800px;
}
.user_setting_container {
  display: flex;
  .setting_content {
    width: 0;
    flex: 1;
    padding: 8px 0px 0px 32px;
    .setting_content_title {
      margin-bottom: 12px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
    }
  }
}
.base_setting_content {
  display: flex;
  .base_setting_content_left {
    width: 320px;
  }
  .base_setting_content_right {
    width: 0;
    flex: 1;
    margin-left: 40px;
    .title {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      padding: 0 0 8px;
    }
    :global(.ant-image) {
      overflow: hidden;
      border-radius: 4px;
    }
    .upload_btn {
      width: 120px;
    }
  }
}
