$fringeSize: 24px;
.error_log_page {
  padding: 0px $fringeSize $fringeSize;
  .error_log_page_header {
    margin: 0px (-$fringeSize) $fringeSize;
  }
}
.table_header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .table_title {
    font-size: 16px;
    font-weight: bold;
  }
}
